body {
    /*background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #81381d, #061349);
    background: linear-gradient(to right, #e8cbc0, #636fa4);*/
    background: black;
}

  .dropdown-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
#chartdiv {
  width: 100%;
  height: 10vh;
}
#chartdiv4{
  height: 300px;
}
#piechart{
  height: 400px;
}
input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 15px; /*Desired height*/
  cursor: pointer;

}