nav img
{
    position : relative;
    left : 400%;
    height: 50px;
}
body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
}

#div1{
    width: 300px;
    padding-top: 8px;
}